*{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}
table{
    border-collapse: collapse;
    align-content: center;
    align-items: center;
}